/* Visual Block */
.visual-block {
    width: 100%;
    overflow: hidden;
    background: $primary;
    position: relative;
    padding-top: 192px;
    color: $white;

    @media (max-width: $desktop) {
        padding-top: 160px;
    }

    @media (max-width: $tablet) {
        padding-top: 110px;
    }

    &:before {
        width: 100%;
        height: 440px;
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        background: $primary;
        background: -moz-linear-gradient(top,  #5d2f5c 0%, $primary 100%);
    }

    .container {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;

        @media (max-width: $tablet) {
            flex-flow: row wrap;
        }
    }

    .image-shape {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 91.5%;

        @media (max-width: $tablet) {
            width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
            max-width: inherit;
        }
    }

    .textbox {
        width: 69%;
        padding-bottom: 14%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        @media (max-width: $widescreen-x) {
            width: 60%;
        }

        @media (max-width: $widescreen) {
            width: 57%;
        }

        @media (max-width: $desktop) {
            width: 54%;
            padding-top: 5%;
        }

        @media (max-width: $tablet) {
            width: 100%;
            text-align: center;
            padding: 10px 0 35px;
        }
    }

    h1 {
        letter-spacing: -2.45px;
        margin: 0 0 10px;

        @media (max-width: $tablet) {
            letter-spacing: normal;
        }
    }

    p {
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 300;
        margin: 0 0 35px;
        padding: 3px 0 0;
        letter-spacing: -1px;

        @media (max-width: $widescreen-x) {
            font-size: 28px;
        }

        @media (max-width: $widescreen) {
            font-size: 24px;
        }

        @media (max-width: $desktop) {
            font-size: 21px;
        }
        
        @media (max-width: $tablet) {
            letter-spacing: normal;
            font-size: 18px;
        }
    }

    .degree-info {
        border: 2px solid $white;
        border-radius: 10px;
        max-width: 530px;
        padding: 8px 20px 6px;
        font-size: 28px;
        font-weight: 300;
        letter-spacing: -1px;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 75px;
        
        @media (max-width: $widescreen) {
            font-size: 26px;
        }

        @media (max-width: $desktop) {
            font-size: 21px;
            margin: 0 0 50px;
        }

        @media (max-width: $tablet) {
            letter-spacing: normal;
            margin: 0 auto 35px;
        }

        strong {
            font-weight: 600;

            @media (max-width: $tablet) {
                display: block;
            }
        }
    }
    
    .image-holder {
        width: 44.4%;
        margin-left: -19%;
        margin-right: -8.9%;
        display: flex;
        align-items: flex-end;
        position: relative;

        @media (max-width: $widescreen-x) {
            margin-left: -8%;
            margin-right: -2%;
        }

        @media (max-width: $widescreen) {
            margin-right: 0;
        }

        @media (max-width: $tablet) {
            margin: 0 auto;
            width: 100%;
            max-width: 360px;
        }

        &:before,
        &:after {
            position: absolute;
            content: '';

            @media (max-width: $tablet) {
                display: none;
            }
        }

        &:before {
            right: -11.1%;
            top: 3.5%;
            width: 128px;
            height: 124px;
            background: url('../images/dot-white.png') repeat;

            @media (max-width: $tablet) {
                right: -20%;
            }
        }

        &:after {
            left: -23%;
            bottom: 10.3%;
            width: 108px;
            height: 96px;
            background: url('../images/dot-red.png') repeat;

            @media (max-width: $tablet) {
                bottom: 3%;
            }
        }
        
        .image-wrap {
            overflow: hidden;
            width: 100%;
            position: relative;
            z-index: 1;
        }

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &.sub-visual {
        min-height: 500px;
        display: flex;
        align-items: center;

        @media (max-width: $desktop) {
            min-height: 420px;
        }

        @media (max-width: $tablet) {
            min-height: 350px;
        }

        .container {
            width: 100%;
        }

        .textbox {
            width: 100% !important;
            padding: 0 0 11.5% !important;

            @media (max-width: $tablet) {
                padding: 0 0 50px !important;
            }
        }

        .image-shape {
            width: 46.7%;
        }
    }
}

.breadcrumbs {
    list-style: none;
    padding: 0;
    margin: -5px 0 0;
    display: flex;
    flex-flow: row wrap;
    color: $secondary;
    letter-spacing: -0.5px;

    @media (max-width: $tablet) {
        justify-content: center;    
    }

    li {
        + li {
            &:before {
                content: '|';
                margin: 0 3px;
                color: $white;
            }
        }

        a {
            color: $white;

            &:hover {
                color: $secondary;
            }
        }
    }
}

/* Intro Block */
.intro-block {
    overflow: hidden;
    padding: 117px 0 103px;
    text-align: center;
    position: relative;

    @media (max-width: $widescreen-x) {
        padding: 100px 0;
    }
    
    @media (max-width: $desktop) {
        padding: 80px 0;
    }

    @media (max-width: $tablet) {
        padding: 45px 0;
    }

    &:before,
    &:after {
        width: 304px;
        height: 441px;
        position: absolute;
        content: '';
        background: url('../images/img-lines.png') no-repeat;
        background-size: 100% 100%;

        @media (max-width: $widescreen-x) {
            width: 220px;
            height: 270px;
        }

        @media (max-width: $desktop) {
            width: 160px;
            height: 210px;
        }
    }

    &:before {
        left: -25px;
        top: -28px;
    }

    &:after {
        right: -12px;
        bottom: -5px;
    }

    .container {
        max-width: 1130px;
    }

    .head {
        overflow: hidden;
        margin: 0 0 68px;

        @media (max-width: $desktop) {
            margin: 0 0 40px;
        }

        @media (max-width: $tablet) {
            margin: 0 0 30px;
        }

        p {
            color: $secondary;
            text-transform: uppercase;
            letter-spacing: -0.4px;
            
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    h2 {
        margin: 0 0 8px;
    }

    .textbox {
        text-align: justify;
        p {
            overflow: hidden;
            text-align-last: center;
        }
    }
}

.programmes-block {
    overflow: hidden;
    padding: 108px 0 40px;
    position: relative;

    @media (max-width: $desktop) {
        padding: 80px 0 50px;
    }

    @media (max-width: $tablet) {
        padding: 45px 0 25px;
    }

    &:before,
    &:after {
        position: absolute;
        content: '';
        width: 1000px;
        height: 124px;
        transform: rotate(-45deg);
        opacity: 0.1;

        @media (max-width: $widescreen-x) {
            height: 100px;
        }

        @media (max-width: $widescreen) {
            height: 70px;   
        }
    }

    &:before {
        left: -405px;
        top: 150px;
        background: $secondary;

        @media (max-width: $widescreen-x) {
            left: -505px;
        }

        @media (max-width: $tablet) {
            left: -550px;
        }
    }

    &:after {
        right: -405px;
        bottom: 150px;
        background: $primary;

        @media (max-width: $widescreen-x) {
            right: -505px;
        }

        @media (max-width: $tablet) {
            right: -550px;
        }
    }

    .container {
        max-width: 1070px;
        position: relative;
        z-index: 1;
    }

    h2 {
        text-align: center;
        font-weight: 600;
        margin: 0 0 98px;

        @media (max-width: $desktop) {
            margin: 0 0 50px;
        }

        @media (max-width: $tablet) {
            margin: 0 0 35px;
        }
    }
}

.programmes-list {
    list-style: none;
    padding: 0;
    margin: 0 -15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    @media (max-width: $desktop) {
        margin: 0 -7px;
    }

    li {
        width: 33.333%;
        padding: 0 15px;
        margin: 0 0 78px;

        @media (max-width: $desktop) {
            padding: 0 7px;
            margin: 0 0 40px;
        }

        @media (max-width: $tablet) {
            width: 50%;
            margin: 0 0 20px;
        }

        @media (max-width: $phone) {
            width: 100%;
        }
    }
}

.programme-box {
    max-width: 252px;
    margin: 0 auto;
    background: $white;
    text-align: center;
    display: block;
    border-radius: 17px;
    padding: 45px 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.025);

    @media (max-width: $tablet) {
        max-width: 360px;
        padding: 25px 15px 30px;
    }

    .icon {
        width: 90px;
        height: 90px;
        margin: 0 auto 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        @media (max-width: $tablet) {
            transform: scale(0.8);
            margin: 0 auto 20px;
        }

        img {
            transition: all 0.3s ease-in-out;

            &.hover-img {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    h3 {
        margin: 0;
        font-weight: 600;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        background: $primary;

        h3 {
            color: $white;
        }

        .icon {
            img {
                opacity: 0;
                visibility: hidden;

                &.hover-img {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

.affiliation-block {
    width: 100%;
    position: relative;
    padding: 98px 0 93px;

    @media (max-width: $desktop) {
        padding: 70px 0;
    }

    @media (max-width: $tablet) {
        padding: 45px 0 40px;
        text-align: center;
    }

    &:before {
        position: absolute;
        left: 50%;
        top: -3px;
        background: $secondary;
        content: '';
        width: 515px;
        height: 6px;
        transform: translateX(-50%);
    }

    .text-block {
        overflow: hidden;
        margin: 0 0 30px;

        @media (max-width: $tablet) {
            margin: 0 0 10px;
        }
    }

    h2 {
        margin: 0 0 21px;
    }

    p {
        margin: 0 0 25px;
    }
}

.affiliation-logos {
    list-style: none;
    padding: 70px 0 0;
    margin: 0 -35px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    @media (max-width: $widescreen) {
        margin: 0 -15px -25px;
    }

    @media (max-width: $desktop) {
        padding-top: 30px;
    }

    @media (max-width: $tablet) {
        padding-top: 0;
    }

    li {
        padding: 0 35px;

        @media (max-width: $widescreen) {
            width: 20%;
            padding: 0 15px 25px;
        }

        @media (max-width: $tablet) {
            width: auto;
        }

        img {
            width: 100%;
            height: auto;
            max-width: 100%;

            @media (max-width: $tablet) {
                max-width: 100px;
                margin: 0 auto;
            }
        }
    }
}

.chairman-block {
    overflow: hidden;
    padding: 108px 0 150px;

    @media (max-width: $widescreen) {
        padding: 100px 0;
    }

    @media (max-width: $desktop) {
        padding: 70px 0;
    }

    @media (max-width: $tablet) {
        padding: 45px 0;
    }

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @media (max-width: $tablet) {
            flex-flow: row wrap;
        }
    }

    .image-holder {
        width: 42.6%;
        border-radius: 20px;
        overflow: hidden;

        @media (max-width: $tablet) {
            width: 100%;
            max-width: 300px;
            height: 300px;
            margin: 0 auto 35px;
        }

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    .textbox {
        flex-grow: 1;
        flex-basis: 0;
        min-width: 0;
        padding-left: 6.2%;

        @media (max-width: $widescreen) {
            padding-left: 3%;
        }

        @media (max-width: $tablet) {
            padding: 0;
            text-align: center;
            flex-grow: inherit;
            flex-basis: auto;
            width: 100%;
        }
    }

    .subtitle {
        display: block;
        text-transform: uppercase;
        font-size: 18px;
        color: $secondary;
        margin: -6px 0 5px;
    }

    h2 {
        margin: 0 0 17px;
    }

    p {
        line-height: 1.875;
        text-align: justify;
        margin: 0 0 30px;

        @media (max-width: $widescreen) {
            line-height: 1.55;
        }

        @media (max-width: $tablet) {
            margin: 0 0 20px;
            text-align-last: center;
        }
    }

    .name {
        display: block;
        font-weight: 600;
        line-height: 1.25;

        span {
            display: block;
            color: $secondary;
        }
    }
}

.vision-block {
    width: 100%;
    position: relative;
    padding: 133px 0 120px;
    line-height: 1.875;

    @media (max-width: $desktop) {
        padding: 70px 0;
    }

    @media (max-width: $tablet) {
        padding: 45px 0 40px;
    }

    .text-block {
        overflow: hidden;
        margin: 0 0 52px;

        @media (max-width: $desktop) {
            margin: 0 0 30px;
        }

        @media (max-width: $tablet) {
            margin: 0 0 10px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    h2 {
        margin: 0 0 36px;

        @media (max-width: $tablet) {
            margin: 0 0 20px;
        }
    }

    p {
        margin: 0 0 25px;
        text-align: justify;
        letter-spacing: -0.1px;
    }
}

/* Contact block styles */
.contact-block {
    overflow: hidden;
    padding: 104px 0 138px;
    
    @media (max-width: $desktop) {
        padding: 70px 0;
    }

    @media (max-width: $tablet) {
        padding: 45px 0 40px;
    }

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @media (max-width: $tablet) {
            flex-flow: row wrap;
        }
    }

    .contactinfo-column {
        width: 35%;

        @media (max-width: $tablet) {
            width: 100%;
            margin: 0 0 25px;
        }
    }

    h3 {
        color: #261f25;
        margin: 0 0 7px;
        font-weight: 300;
        text-transform: uppercase;

        @media (max-width: $tablet) {
            margin: 0 0 15px;
        }
    }
}

/* map block styles */
.map-block {
    width: 57.8%;
    overflow: hidden;
    border-radius: 18px;

    @media (max-width: $tablet) {
        width: 100%;
        border-radius: 10px;
    }

    iframe {
        border: 0;
        width: 100%;
        height: 535px;
        border-radius: 18px;

        @media (max-width: $desktop) {
            height: 450px;
        }

        @media (max-width: $tablet) {
            height: 300px;
            border-radius: 10px;
        }
    }
}

/* contact information styles */
.contact-information {
    list-style: none;
    padding: 0;
    margin: 0;
    color: $lt-gray;
    font-size: 14px;
    line-height: 1.25;

    @media (max-width: $desktop) {
        max-width: inherit;
    }

    > li {
        padding: 37px 0;
        min-height: 132px;
        border-bottom: 1px solid #e8e8e8;
        display: flex;
        align-items: center;

        @media (max-width: $desktop) {
            padding: 25px 0;
            min-height: 105px;
        }

        @media (max-width: $tablet) {
            padding: 20px 0;
            min-height: inherit;
        }

        &:last-child {
            border: 0;
        }
    }

    .text-wrap {
        display: flex;
        align-items: flex-start;

        @media (max-width: $desktop) {
            flex-flow: row wrap;
        }
    }

    .title {
        font-size: 18px;
        line-height: 1.25;
        font-weight: 300;
        min-width: 130px;
        padding-right: 15px;
        color: #261f25;
        display: block;
        text-transform: uppercase;

        @media (max-width: $desktop) {
            min-width: inherit;
            width: 100%;
            padding: 0 0 10px;
            font-size: 16px;
        }
    }

    .textbox {
        @media (max-width: $desktop) {
            width: 100%;
        }
    }

    address {
        font-style: normal;
    }

    a {
        color: $lt-gray;

        &:hover {
            color: $text-color;
        }

        strong {
            font-weight: 500;
            letter-spacing: 1px;
        }
    }

    .text {
        display: block;

        + .text {
            padding-top: 7px;
        }

        &.email {
            a {
                text-decoration: underline;
            }
        }
    }

    .social-networks {
        @media (max-width: $desktop) {
            position: static;
            padding: 0 !important;
            justify-content: flex-start;
            width: auto;
            margin: 0 -10px;
        }

        @media (max-width: $tablet) {
            padding-top: 5px !important;
        }

        li {
            a {
                color: $primary;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.programmes-content {
    overflow: hidden;
    padding: 40px 0;
    line-height: 1.2;

    @media (min-width: $tablet + 1) {
        padding: 65px 0;
    }

    @media (min-width: $desktop + 1) {
        padding: 89px 0;
    }

    h2 {
        margin: 0 0 25px;

        @media (min-width: $tablet + 1) {
            margin: 0 0 35px;
        }

        @media (min-width: $widescreen + 1) {
            margin: 0 0 60px;
        }
    }

    .text-block {
        overflow: hidden;
        margin: 0 0 20px;
        
        @media (min-width: $tablet + 1) {
            margin: 0 0 40px;
        }

        @media (min-width: $widescreen + 1) {
            margin: 0 0 78px;
        }
    }

    h3 {
        margin: 0 0 19px;
    }

    p {
        margin: 0 0 19px;

        strong {
            font-weight: 500;
        }

        + h3 {
            padding-top: 5px;
        }
    }
}

.tables-holder {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -15px;

    .table-column {
        width: 100%;
        padding: 0 15px;
        margin: 0 0 50px;

        @media (max-width: $tablet) {
            margin: 0 0 20px;
        }
    }
}

.table-scroller {
    @media (max-width: $tablet) {
        overflow: auto;
        width: 100%;
        padding-bottom: 15px;
    }
}

.study-table {
    width: 100%;
    border: 0;
    border-collapse: collapse;

    @media (min-width: $widescreen + 1) {
        font-size: 18px;
    }

    @media (max-width: $tablet) {
        min-width: 500px;
        font-size: 13px;
    }

    th {
        color: $white;
        background: $primary;
        text-align: left;
        padding: 8px 10px;
        font-weight: 600;

        @media (min-width: $tablet + 1) {
            font-size: 16px;
            padding: 10px 15px;
        }

        @media (min-width: $desktop + 1) {
            font-size: 19px;
        }

        @media (min-width: $widescreen + 1) {
            font-size: 22px;
        }

        &.year {
            width: 20%;

            @media (max-width: $tablet) {
                width: auto;
                min-width: 80px;
            }
        }

        &.code {
            min-width: 85px;
            width: 20%;

            @media (max-width: $tablet) {
                
            }
        }

        &.hours {
            min-width: 68px;
            text-align: center;
            width: 10%;
        }
    }

    td {
        padding: 8px 10px;
        font-weight: 400;

        @media (min-width: $tablet + 1) {
            padding: 8px 15px;
        }

        &:last-child {
            text-align: center;
        }
    }

    tbody {
        tr {
            &:nth-child(even) {
                background: #e8edf1;
            }
        }
    }
}