/* Header Styles */
.header {
    width: 100%;
    position: absolute;
    z-index: 9;
    padding: 16px 0;
    background: rgba(45, 42, 111, 0.5);

    @media (max-width: $tablet) {
        padding: 10px 0;
    }

    .container {
        display: flex;
        align-items: center;

        @media (max-width: $desktop) {
            justify-content: space-between;
        }
    }
    
    .btn {
        margin-right: 50px;
        
        @media (min-width: $tablet + 1) {
            margin-right: 55px;
        }

        @media (min-width: $desktop + 1) {
            padding: 10px 25px;
            min-width: 167px;
            margin: 0;
        }

        @media (max-width: $tablet) {
            font-size: 13px;
        }

        @media (max-width: 359px) {
            font-size: 12px;
            padding-left: 12px;
            padding-right: 12px;
        }
    }
}

.logo {
    width: 174px;
    min-width: 174px;
    display: block;

    @media (max-width: $desktop) {
        width: 150px;
        min-width: 150px;
    }

    @media (max-width: $tablet) {
        width: 120px;
        min-width: 120px;
    }

    a {
        display: block;
        outline: none;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}

.nav-opener {
    width: 40px;
    height: 40px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: $primary;
    border-radius: 4px;
    transition: right 0.3s ease-in-out;

    @media (min-width: $desktop + 1) {
        display: none !important;
    }

    .nav-active & {
        @media (max-width: $desktop) {
            right: 300px;
        }

        @media (max-width: 359px) {
            right: 274px;
        }
    }

    &:before,
    &:after,
    span {
        width: 24px;
        height: 2px;
        background: $white;
        content: '';
        display: block;
        transition: all 0.3s ease-in-out;
    }

    &:before {
        margin-bottom: 6px;

        .nav-active & {
            margin-bottom: -2px;
            transform: rotate(45deg);
        }
    }

    &:after {
        margin-top: 6px;

        .nav-active & {
            margin-top: -2px;
            transform: rotate(-45deg);
        }
    }

    span {
        .nav-active & {
            opacity: 0;
        }
    }
}

.nav-active {
    overflow: hidden;
}

.header-holder {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
    padding: 0 25px 0 75px;
    position: relative;
    display: flex;
    justify-content: center;

    @media (max-width: $desktop) {
        display: block;
        padding: 0;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: auto;
        width: 290px;
        background: $blue-light;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    @media (max-width: 359px) {
        width: 270px;
    }

    .nav-active & {
        @media (max-width: $desktop) {
            transform: none;
        }
    }
}

.header-navigation {
    @media (max-width: $desktop) {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        padding: 30px 25px;
    }
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0 -27px 0 -26px;
    text-transform: uppercase;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 300;

    @media (max-width: $widescreen) {
        margin: 0 -15px;
    }

    @media (max-width: $desktop) {
        flex-flow: row wrap;
        margin: 0 0 20px;
        font-weight: 500;
        order: 1;
        width: 100%;
    }

    > li {
        margin: 0 27px 0 26px;
        position: relative;

        @media (max-width: $widescreen) {
            margin: 0 15px;
        }

        @media (max-width: $desktop) {
            width: 100%;
            margin: 0;
        }

        .drop-opener {
            position: absolute;
            right: -15px;
            top: 0;
            width: 50px;
            height: 46px;
            color: $white;
            display: none;
            cursor: pointer;
            align-items: center;
            justify-content: center;

            &:before {
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                color: $secondary;
            }
        }

        > a {
            display: block;
            color: $white;
            padding: 12px 0;

            @media (max-width: $desktop) {
            }

            &:hover {
                color: $tertiary;
            }
        }

        &.active {
            > a {
                color: $tertiary;
            }
        }

        &:hover {
            .nav-dropdown {
                @media (min-width: $desktop + 1) {
                    opacity: 1;
                    visibility: visible;
                    margin-top: 0;
                }
            }
        }

        &.has-dropdown {
            .drop-opener {
                @media (max-width: $desktop) {
                    display: flex;
                }
            }

            &.drop-active {
                > a {
                    color: $secondary;
                }

                .drop-opener {
                    color: $secondary;
                    
                    &:before {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}

.nav-dropdown {
    width: 100%;
    text-transform: none;
    font-weight: 400;
    overflow: hidden;

    @media (min-width: $desktop + 1) {
        width: 190px;
        border-radius: 5px;
        background: $white;
        box-shadow: 0 7px 15px rgba(0,0,0,0.25);
        position: absolute;
        left: -15px;
        top: 100%;
        transition: all 0.3s ease-in-out;
        opacity: 0;
        visibility: hidden;
        margin-top: 15px;
    }

    ul {
        list-style: none;
        padding: 10px 0;
        margin: 0;
        font-size: 14px;

        @media (max-width: $desktop) {
            padding: 5px 0;
            margin: 0 0 5px;
        }
        
        li {
            margin: 0;
            padding: 0;

            a {
                display: block;
                padding: 10px 15px;

                @media (max-width: $desktop) {
                    padding: 7px 15px;
                    border-radius: 5px;
                    color: $white;
                }

                &:hover {
                    color: $white;
                    background: $primary;
                }
            }
        }
    }

    &.js-slide-hidden {
        @media (min-width: $desktop + 1) {
            left: -15px !important;
            top: 100% !important;
        }
    }
}