/* General Layout Styles */
*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    background: #fff;
    color: $text-color;
}

#wrapper {
    position: relative;
    overflow: hidden;
}

.container {
    max-width: 1165px;
    position: relative;
    padding: 0 15px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}