@font-face {
    font-family: 'GalanoGrotesque';
    src: url('../fonts/galanogrotesque-regular21-webfont.woff2') format('woff2'),
         url('../fonts/galanogrotesque-regular21-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GalanoGrotesque';
    src: url('../fonts/galanogrotesqueregular-webfont.woff2') format('woff2'),
         url('../fonts/galanogrotesqueregular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GalanoGrotesque';
    src: url('../fonts/galanogrotesque-regular81-webfont.woff2') format('woff2'),
         url('../fonts/galanogrotesque-regular81-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GalanoGrotesque';
    src: url('../fonts/galanogrotesque-regular71-webfont.woff2') format('woff2'),
         url('../fonts/galanogrotesque-regular71-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'GalanoGrotesque';
    src: url('../fonts/galanogrotesquebold-webfont.woff2') format('woff2'),
         url('../galanogrotesquebold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GalanoGrotesque';
    src: url('../fonts/galanogrotesqueblack-webfont.woff2') format('woff2'),
         url('../fonts/galanogrotesqueblack-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'GalanoGrotesque';
    src: url('../fonts/galanogrotesqueheavy-webfont.woff2') format('woff2'),
         url('../fonts/galanogrotesqueheavy-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'GalanoGrotesque Alt';
    src: url('../fonts/galanogrotesquealtbold-webfont.woff2') format('woff2'),
         url('../fonts/galanogrotesquealtbold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

body {
    font: 16px/1.5 "GalanoGrotesque", Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: $text-color;

    @media (max-width: $desktop) {
        font-size: 14px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0 0 15px;
    line-height: 1.1;

    span {
        color: $secondary;
    }
}

h1, .h1 {
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-width: $widescreen-x) {
        font-size: 62px;
    }

    @media (max-width: $widescreen) {
        font-size: 52px;
    }

    @media (max-width: $desktop) {
        font-size: 40px;
    }

    @media (max-width: $tablet) {
        font-size: 35px;
    }
}

h2, .h2 {
    font-size: 36px;
    text-transform: uppercase;
    line-height: 1.2;
    margin: 0 0 34px;
    color: $primary;
    font-weight: 600;

    @media (max-width: $widescreen) {
        font-size: 32px;
        margin: 0 0 26px;
    }

    @media (max-width: $desktop) {
        font-size: 28px;
        margin: 0 0 20px;
    }

    @media (max-width: $tablet) {
        font-size: 24px;
    }
}

h3, .h3 {
    font-size: 24px;
    margin: 0 0 26px;
    font-weight: 600;

    @media (max-width: $desktop) {
        font-size: 22px;
    }

    @media (max-width: $tablet) {
        font-size: 20px;
        margin: 0 0 20px;
    }
}

h4, .h4 {
    font-size: 24px;
    font-weight: 400;

    @media (max-width: $desktop) {
        font-size: 18px;
    }
}

h5, .h5 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;

    @media (max-width: $desktop) {
        font-size: 16px;
    }
}

p {
    margin: 0 0 32px;

    @media (max-width: $widescreen) {
        margin: 0 0 20px;
    }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p {
    &:last-child {
        margin-bottom: 0; 
    }
}

a {
    text-decoration: none;
    color: $primary;

    &:hover {
        text-decoration: none;
    }
}

a,
input,
button {
    transition: all .25s ease-in-out;
    outline: none !important;
}

input,
button {
    font-family: inherit;
}

.btn {
    color: $white;
    font-size: 14px;
    line-height: 1.875;
    padding: 8px 15px 6px;
    font-weight: 600;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    border: 0;

    @media (min-width: $tablet + 1) {
        padding: 11px 20px 9px;
        font-size: 16px;
        border-radius: 7px;
    }

    @media (min-width: $desktop + 1) {
        min-width: 200px;
        padding: 16px 25px 14px;
        border-radius: 10px;
    }

    &.btn-primary {
        background: $primary;

        &:hover {
            background: $primary-darker;
        }
    }

    &.btn-secondary {
        background: $secondary;

        &:hover {
            background: $secondary-darker;
        }
    }
}

.text-primary {
    color: $primary !important;
}

.text-success {
    color: $green !important;
}

.text-secondary {
    color: $secondary !important;
}

.text-warning {
    color: $yellow !important;
}

.text-danger {
    color: $red !important;
}

.bg-primary {
    background-color: $primary !important;
}

.bg-success {
    background-color: $green !important;
}

.bg-secondary {
    background-color: $secondary !important;
}

.bg-blue-dark {
    background-color: $blue-dark !important;
}

.bg-gray {
    background-color: $gray-light !important;
}

.bg-warning {
    background-color: $yellow !important;
}

.bg-danger {
    background-color: $red !important;
}

.font-large {
    @media (min-width: $widescreen + 1) {
        font-size: 20px;
        line-height: 1.5;
    }
}

.heading {
    display: block;
    color: #75696d;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500; 
    text-transform: uppercase;
    margin: 0 0 20px;

    @media (max-width: $desktop) {
        margin: 0 0 10px;
        font-size: 16px;
    }
}