// media queries
$phone: 479px;
$tablet: 767px;
$desktop: 1023px;
$widescreen: 1199px;
$widescreen-x: 1439px;
$widescreen-xl: 1549px;
$widescreen-xxl: 1699px;

// colors
$primary: #2d2a6f;
$primary-darker: #17154b;
$secondary: #e23b29;
$secondary-darker: #d4301f;
$tertiary: #ff3b26;
$blue-light: #211e5c;
$blue-lighter: #262462;
$blue-darker: #1f1c56;
$blue-dark: #110c41;
$gry-lightest: #f6f6f6;
$gray-light: #f7f7f7;
$text-color: $primary;
$lt-gray: #999;

$blue-black: #151d30;
$footer-text: #9098aa;

$green: #367d46;
$yellow: #ffcb00;
$red: #f00;
$white: #fff; 