// media queries
$phone: 575px;
$tablet: 767px;
$desktop: 1023px;
$widescreen: 1199px;
$widescreen-x: 1439px;
$widescreen-xl: 1549px;
$widescreen-xxl: 1699px;

// colors
$primary: #11265a;
$secondary: #221c71;
$tertiary: #df3B28;
$blue-bright: #211f5b;
$blue-lighter: #504da0;
$blue-light: #2e2b70;
$blue-darker: #0b0835;
$blue-dark: #110c41;
$gray-dark: #261f25;
$gry-lightest: #f6f6f6;
$gray-lighter: #999; 
$gray-light: #75696d; 
$text-color: $primary;
$light-blue: #f7f9fe;
$sky-blue: #edf0f8;


$blue-darker: #2d2a6f;
$blue-black: #151d30;
$footer-text: #9098aa;

$green: #367d46;
$yellow: #ffcb00;
$red: #f00;
$white: #fff; 